<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="/controllers/accounts.js"></script>
</head>
<body ng-controller="accounts">
<button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
<table>
    <tr>
        <td>ID</td>
        <td>Money</td>
    </tr>
    <tr ng-repeat="account in accounts">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{account.id}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{account.money}}</td>
        <td ng-show="isWorker"><button type="button" class="btn btn-default" ng-click="delete($index)">Delete</button></td>
        <td><a href=operations.html?id={{account.id}}>Operations</a></td>
    </tr>
    <tr ng-show="isWorker">
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-default btn-block" ng-click="insert()">Insert</button></td>
    </tr>
    <tr ng-show="error">
        <td colspan="4">
            <div class="alert alert-danger">Error</div>
        </td>
    </tr>
</table>
</body>
</html>