<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="/controllers/operations.js"></script>
</head>
<body ng-controller="operations">
<button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
<table>
    <tr>
        <td>ID</td>
        <td>Money</td>
        <td>Description</td>
    </tr>
    <tr ng-repeat="operation in operations">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;{{operation.id}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{operation.money}}</td>
        <td>{{operation.description}}</td>
    </tr>
    <tr ng-show="isWorker">
        <td></td>
        <td><input type="number" title="" ng-model="operationNew.money"  class="form-control"></td>
        <td><input type="text"   title="" ng-model="operationNew.description"  class="form-control"></td>
        <td><button type="button" class="btn btn-default btn-block" ng-click="insert()">Insert</button></td>
    </tr>
    <tr ng-hide="isWorker">
        <td>From</td>
        <td>To</td>
        <td>Money</td>
        <td>Description</td>
    </tr>
    <tr ng-hide="isWorker">
        <td><input type="number" title="" ng-model="from"  class="form-control"></td>
        <td><input type="number" title="" ng-model="to"  class="form-control"></td>
        <td><input type="number" title="" ng-model="operationNew.money"  class="form-control"></td>
        <td><input type="text"   title="" ng-model="operationNew.description"  class="form-control"></td>
        <td><button type="button" class="btn btn-default btn-block" ng-click="move()">Insert</button></td>
    </tr>
    <tr ng-show="error">
        <td colspan="{{isWorker?4:5}}">
            <div class="alert alert-danger">Error</div>
        </td>
    </tr>
</table>
</body>
</html>