<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="/controllers/users.js"></script>
</head>
<body ng-controller="users">
    <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
    <table>
        <tr>
            <td>Login</td>
            <td>Name</td>
            <td>Role</td>
            <td>Password</td>
        </tr>
        <tr ng-repeat="user in users">
            <td><input type="text"   title="" ng-model="user.login" class="form-control"></td>
            <td><input type="text"   title="" ng-model="user.name" class="form-control"></td>
            <td><input type="radio"  title="" ng-model="user.role" value="worker">Worker
                <input type="radio"  title="" ng-model="user.role" value="client">Client</td>
            <td><input type="text"   title="" ng-model="user.password" class="form-control"></td>
            <td><button type="button" class="btn btn-default" ng-click="update($index)">Update</button></td>
            <td><button type="button" class="btn btn-default" ng-click="delete($index)">Delete</button></td>
            <td><button type="button" class="btn btn-default" ng-click="updatePassword($index)">Change Password</button></td>
            <td><a href=accounts.html?id={{user.id}}>Accounts</a></td>
        </tr>
        <tr>
            <td><input type="text"   title="" ng-model="userNew.login"  class="form-control"></td>
            <td><input type="text"   title="" ng-model="userNew.name"   class="form-control"></td>
            <td><input type="radio"  title="" ng-model="userNew.role"   value="worker">Worker
                <input type="radio"  title="" ng-model="userNew.role"   value="client">Client</td>
            <td><input type="text"   title="" ng-model="userNew.password" class="form-control"></td>
            <td><button type="button" class="btn btn-default btn-block" ng-click="insert()">Insert</button></td>
        </tr>
        <tr ng-show="error">
            <td colspan="8">
                <div class="alert alert-danger">Error</div>
            </td>
        </tr>
    </table>
</body>
</html>